# Default ignored files
/shelf/
/.idea/
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

# Manually added
/*.xml

./main.synctex

# Ignore all LaTeX auxiliary files
*.aux
*.log
*.toc
*.out
*.synctex.gz

# Ignore entire auxil directory
auxil/