# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

# Manually added
/*.xml

./main.synctex

auxil/
auxil/*.aux
auxil/*.log
auxil/*.toc
auxil/*.out
auxil/*.synctex.gz